<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1>프로필 화면 입니다.</h1>
    <form action="/auth/login" method="post">
       
    </form>
    
   
  </body>
</html>
