<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1>인증 코드를 입력하세요</h1>
    <form action="/auth/verify" method="post">
        <label>인증코드</label><input type="text" name="verifycode" placeholder="이메일을 입력하세요">
        <button type="submit">로그인</button>
    </form>
    
    
   
  </body>
</html>
